@model RazorVibes.Models.Item

<h2>Create item</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <label for="Name">Name</label>
    @Html.TextBoxFor(model => model.Name)

    <label for="Description">Description</label>
    @Html.TextAreaFor(model => model.Description, 4, 40, null)

    <div class="form-actions">
        <button type="submit" class="button">Save</button>
        @Html.ActionLink("Cancel", "Index", null, new { @class = "button secondary" })
    </div>
}
